{% extends "_base.html" %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    {% include 'checktime.html' %}
{% endblock %}

{% block footer %}
   {% include 'footer.html' %}
{% endblock %}

{% block add_scripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=1424094561196011&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>
        planid = '{{ planid  }}';
    </script>
    <script src="{{ STATIC_URL }}js/grid.js"></script>
{% endblock %}