<div class="jumbotron container makeplan">
    <form id="makeplanform" action="#" method="get">
        <div class="form-group"><input type="text" name="planname" placeholder="어떤 모임인가요?" class="form-control"></div>
        <div class="form-group"><input type="text" placeholder="언제부터 언제까지 알아볼까요?" class="form-control"></div>
        <div class="form-group"><input type="text" placeholder="이 시간 동안은 봐야되요!" class="form-control"></div>
        <div class="form-group"><button type="submit" class="btn btn-success">모임 만들기</button></div>
    </form>
</div>